:root {
  font-family: Poppins, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #000000;
  /* background-image: url(src/assets/noise-back.png); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
	margin: 0px 0px;
}

/* body {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
	margin: 0px 0px;
	box-sizing: border-box;
	animation: fadeInFromNone 1s ease-out;
	animation-delay: 1.5s;
}	 */

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/*+++++++++++++++++++++++++++++++++++++++ LANDING +++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++ LANDING +++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++ LANDING +++++++++++++++++++++*/


.landing-video {
	/* display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	padding: 0px 0px;
	z-index: -1; */
	width: 100%;

}

.landing-video video {
	object-fit: cover;
}

.logo__container {
	position: absolute;
	top: 2%;
	left: 50%;
}

.logo__container :hover {
	cursor: pointer;
}

.logo {
	width: 100px;
	text-align: center;
	transform: translate(-50%, 0%);
}


/*+++++++++++++++++++++++++++++++++++++++ NAVBAR +++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++ NAVBAR +++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++ NAVBAR +++++++++++++++++++++*/

.navbarOld {
	position: absolute;
	width: min-content;
	top: 50%;
	padding: 0px 0px;
	/* left: 5%;  */
}

.navbarOld ul>li {
	position: relative;
	list-style: none;
}

.navbarOld ul>li>div {
	display: inline-block;
	position: relative;

	&:hover {
		cursor: pointer;
	}
}

.navbarOld ul>li>div>a {
	font-size: 2.7rem;
	color: #FEFCFF;
	line-height: 3.8rem;
	margin: 0px 0px;
	font-weight: 290;
	text-decoration: none;
}


.navbarOld ul>li>div>a::before {
	content: ' ';
	display: inline-block;
	transform: translate(-80%, -20%) scaleX(0);
	width: 4px;
	height: 4px;
	background: rgb(247, 247, 247);
	border-style: solid;
	border-color: #fff;
	border-width: 3px;
	transition: transform 0.5s ease-in;

}

.navbarOld ul>li>div>a:hover::before {
	transform: translate(-80%, -20%) scaleX(1) rotate(-0.5turn);

}


.navbarOld ul>li>div>a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1.4px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transform-origin: bottom right;
	transition: transform 0.45s ease-out;
}

.navbarOld ul>li>div>a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;

}


/*++++++++++++++++++++++++++++SHORTFILM+++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++SHORTFILM+++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++SHORTFILM+++++++++++++++++++++++++++++*/
.short{
	display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.info__container{
	display: flex;
	position: absolute;
	bottom: 0;
	background-color: #fcfaeeff;
	color: #000000;
	width: 100vw;
	height: 20vh;
	justify-content: space-between;
}

/*++++++++++++++++++++INFOLAYOUT+++++++++++++++++++++++++*/
/*++++++++++++++++++++INFOLAYOUT+++++++++++++++++++++++++*/
/*++++++++++++++++++++INFOLAYOUT+++++++++++++++++++++++++*/





/*++++++++++++++++++++++++++++FILM INFO BAR+++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++FILM INFO BAR+++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++FILM INFO BAR+++++++++++++++++++++++++++++*/



/* .title-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;

	&>h2 {
		font-size: clamp(1rem, 4.8vw, 2.6rem);
		font-weight: 500;

		&::before {
			content: attr(data-content);
			position: absolute;
			top: 80%;
			font-size: clamp(0.5rem, 2.4vw, 1rem);
			font-weight: 400;
			padding-left: 2px;
		}
	}
} */

/* .auth-cast {
	display: flex;
	height: 100%;
	align-items: center;
	column-gap: 5%;

	&>div {
		position: relative;
		height: min-content;

		&>h3 {
			display: block;
			font-size: clamp(0.6rem, 2.2vw, 0.9rem);
			font-weight: 500;
			overflow: break-word;

		}

		&::before{
			content: attr(data-content);
			font-size: clamp(0.6rem, 1.8vw, 0.8rem);
			font-weight: 300;
		}
	}


} */







.info-img{
	object-fit: cover;
}


/* .myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
} */

.pippo{
	display: flex;
	width: 100%;
}




@keyframes an{
	from{
		opacity: 0;
		transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
	}
	to{
		opacity: 1;
		transform: perspective(500px) translate3d(0, 0, 0);
	}
}


























.slider__container{
	width: 100%;
	height: 100%;
}

.slider__img__container{
	position: relative;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 75%;
}

.slider__text__container{
	position: relative;
	height: 25%;
	overflow: hidden;
	background-color: #fcfaeeff;
	color: black;
	width: 100%;
	animation: "fadeInFromNone 2s ease-out"
}


  /* +++++++++++++++++++++++++++++++++ XXL ++++++++++++++++*/
/* @media screen and ((max-device-width: 1024px ) and (orientation: portrait)){
	html {
	  font-size: 170%;
	}
  }
  @media screen and ((max-device-height: 1024px ) and (orientation: landscape)){
	html {
	  font-size: 145%;
	}
  } */

  /* +++++++++++++++++++++++++++++++++ XL ++++++++++++++++*/
  @media only screen and ((max-device-width: 820px) and (orientation: portrait)) {
	html {
	  font-size: 145%;
	}
  }
  @media only screen and ((max-device-height: 820px) and (orientation: landscape)) {
	html {
	  font-size: 130%;
	}
  }

/* +++++++++++++++++++++++++++++++++ M ++++++++++++++++*/  
  @media only screen and ((max-device-width: 600px) and (orientation: portrait) and (max-device-height: 780px)) {
	html {
	  font-size: 100%;
	}
  }
  @media only screen and ((max-device-height: 600px) and (orientation: landscape) and (max-device-width: 780px)) {
	html {
	  font-size: 90%;
	}
  }

  /* +++++++++++++++++++++++++++++++++ XS ++++++++++++++++*/
  @media only screen and ((max-device-width: 430px) and (orientation: portrait)) {
	html {
	  font-size: 105%;
	}
  }
  @media only screen and ((max-device-height: 430px) and (orientation: landscape)) {
	html {
	  font-size: 60%;
	}
  }


  /* +++++++++++++++++++++++++++++++++ XXS ++++++++++++++++*/
  @media only screen and ((max-device-width: 380px) and (orientation: portrait) and (max-device-height: 820px)) {
	html {
	  font-size: 85%;
	}
  }
  @media only screen and ((max-device-height: 380px) and (orientation: landscape) and (max-device-width: 820px)) {
	html {
	  font-size: 55%;
	}
  }

/* +++++++++++++++++++++++++++++++++ SHITY RATIO ++++++++++++++++*/
/* @media only screen and ((max-device-width: 1024px) and (max-device-height: 600px)) {
	html {
	  font-size: 95%;
	}
  }

  @media only screen and ((max-device-width: 885px) and (orientation: landscape) and (max-device-height: 350px)) {
	html {
	  font-size: 50%;
	}
  }

  @media only screen and ((max-device-width: 885px) and (orientation: landscape) and (max-device-height: 350px)) {
	html {
	  font-size: 100%;
	}
  } */


